{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product List</h1>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image }}" alt="{{ product.title }}">
                <h2>{{ product.title }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Rating: {{ product.rating.rating }} / {{ product.rating.stars }} stars</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
